/* Globales */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-family: arial;
}

a { text-decoration: none; }

h1 {
  font-size: 30px;
  color: black;
  margin-top: 50px;
  margin-bottom: 30px;
}

fieldset {
  border: 0px;
  width: 50px;
  margin: 0 auto;
  margin-top: -20px;
}

.boton {
  display: block;
  text-align: center;
  background: #2ecc71;
  color: white;
  margin: 3% auto;
  margin-bottom: 2%;
  margin-bottom: 2%;
  outline: none;
  padding: 20px;
  padding-top: 10px;
  height: 35px;
  border-color: #2ecc71;
  border-radius: 6px;
  border: 1px;
  transition: 0.25s;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  width: 13%;
  height: 10px;
}

.boton:hover {
  background: #249b57;
  transform: scale(1.1); 
}

.input {
  border-bottom: 1px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 10px auto;
  outline: none;
  font-weight: 500;
  padding: 14px 10px;
  width: 200px;
  height: 7px;
  color: black;
}

.input:focus {
  border-color: #2ecc71;
  transition: 0.2s;
}

input[name=crear], input[name=editar]{
  margin-top: 15px;
  width: 100px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  transform: scale(1.26); 
  text-transform: capitalize;
}

input[name=crear]:hover, input[name=editar]:hover{
  transform: scale(1.3); 
}

table, th, tr {
  font-size: 16px;  
}

table {
  border-bottom: 3px solid black;
  border-collapse: collapse; 
  margin: 0 auto;
  padding: 0;
}

th {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: #ff3600;
  color: white;
}

tr {
  position: relative;
  padding: 50px;
}

tr:hover {
  background-color: #388db0;
  transition: 0.3s;
  color: white; 
}

td {
  padding-top:15px;
  padding-bottom:12px;  
}

.icons {
  filter: invert(100%);
  transform:scale(1.5);
}

table tr:hover > td > a > img {
  filter: invert(0%);
  transition: 0.3s;
}

/* Header */
 
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #406698;
}

li {  
  float: right;
}

img {
  height: 20px;
}

.logo:hover > img{ 
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
   transition: 0.02s;
}

.imgI {
  position: relative;
  left: -2px;
}

.imgD {
  position: relative;
  left: 123px;
}

.logo > li {
  position: relative;
  left: -30px;
}

.logo {
  float: left;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;
}

.logo:hover {
  color: #ff9b9b;
  transition: 0.2s;
  cursor: pointer;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: #94949400;  
  text-transform: uppercase;
  font-weight: bold;
}

li a:hover {
  background-color: #456da0;
}

li:focus {
  background-color: #456da0;
}



